/* VARIABLES */
$mainbgcolor: #0253b3;
$secondarybgcolor: #18a4e0;
$fontcolor: #ffffff;
$searchfontcolor: #0254bb;
$searchbackground: #f1f5f8;

$width: 950px;

// Break points
@mixin h {
	@media only screen and (max-height: 850px) {
		@content;
	}
}
@mixin l {
	@media only screen and (max-width: 1140px) {
		@content;
	}
}
@mixin m {
	@media only screen and (max-width: 500px) {
		@content;
	}
}

@mixin vert {
	@media only screen and (max-width: 740px) and (orientation: landscape) {
		@content;
	}
}

%search-text {
	font-weight: bold;
	font-style: italic;
	font-size: 1.188rem;
}

/* RESET */
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
button {
	border: none;
	outline: none;
	background: transparent;
}
html {
	width: 100%;
	min-height: 100%;
}
body {
	height: 100%;
	width: 100%;
	color: $fontcolor;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	position: relative;
	background: linear-gradient($mainbgcolor, $secondarybgcolor);
}

main {
	width: $width;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100%;
	@include l {
		width: 100%;
	}
	@include m {
		padding: 10px;
	}
}

.search {
	color: $searchfontcolor;
	position: relative;
	height: 40px;
	margin: 20px 0;
	overflow: hidden;
	border-radius: 20px;
	@include l {
		width: 80%;
		margin: 20px auto;
	}
	&--bar {
		width: 100%;
		height: 100%;
		padding-left: 15px;
		background: $searchbackground;
		border: none;
		outline: none;
		color: $searchfontcolor;
		@extend %search-text;
		@include m {
			font-size: 0.8rem;
		}
		&::placeholder {
			@extend %search-text;
			color: gray;
			@include m {
				font-size: 0.8rem;
			}
		}
		&:focus ~ .line,
		&:valid ~ .line {
			transform: translateX(0%);
		}
	}
	&--icon {
		color: $searchfontcolor;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		cursor: pointer;
	}
	.line {
		position: absolute;
		width: 100%;
		height: 3px;
		background: $secondarybgcolor;
		left: 0;
		bottom: 0;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
	}
}
#app {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	font-style: italic;
	@include m {
		justify-content: space-evenly;
	}
	@include vert {
		flex-grow: 0;
	}
}
.top {
	text-align: center;
	margin-bottom: 120px;
	@include l {
		margin-bottom: 20px;
	}
	@include h {
		margin-bottom: 20px;
	}
	@include vert {
		margin-bottom: 20px;
	}
	&--title {
		font-size: 3rem;
		margin-bottom: 40px;
		@include vert {
			font-size: 2rem;
			margin-bottom: 20px;
		}
		@include m {
			font-size: 2rem;
			margin-bottom: 20px;
		}
	}
	&--date {
		font-size: 1rem;
	}
}
.current {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include l {
		margin-bottom: 20px;
	}
	@include h {
		margin-bottom: 20px;
	}
	@include vert {
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	&--temperature {
		font-size: 3rem;
		@include vert {
			font-size: 2rem;
		}
		@include m {
			font-size: 1.5rem;
		}
	}
	&--display {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include vert {
			flex-direction: row;
		}
	}
	.img {
		width: 100px;
		display: flex;
		align-items: center;
		margin: 20px 0;
		@include vert {
			width: 70px;
			margin: 0;
		}
		@include h {
			width: 70px;
			margin: 0;
		}
	}
	p {
		font-size: 2rem;
		@include vert {
			font-size: 1rem;
		}
		@include m {
			font-size: 1rem;
		}
	}
}
.days {
	display: flex;
	justify-content: center;
	align-items: center;
	@include vert {
		padding-bottom: 20px;
	}
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 10px;
	@include m {
		margin: 0 5px;
	}
	&--date {
		font-size: 1.188rem;
		@include vert {
			font-size: 0.8rem;
		}
		@include m {
			font-size: 0.8rem;
		}
	}
	.img {
		width: 70px;
		@include vert {
			width: 50px;
		}
		@include m {
			width: 50%;
		}
	}
	&--temperature {
		font-size: 1rem;
		@include vert {
			font-size: 0.7rem;
		}
		@include m {
			font-size: 0.6rem;
		}
	}
}

.load {
	width: 50px;
	height: 50px;
	border: 10px solid white;
	border-bottom: 10px solid transparent;
	border-radius: 50%;
	transform: rotate(0deg);
	animation: circle 1s infinite linear;
}

@keyframes circle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
